<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="sharmacloud">
      <h4>
      <strong>

        <ion-icon name="cloud"></ion-icon>
  
      <ion-label>SharmaCloud</ion-label>
      </strong>

</h4>
    </ion-tab-button>

    <ion-tab-button tab="work">
      <ion-icon name="hardware-chip-outline"></ion-icon>
      <ion-label>Work</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="skills">
      <ion-icon name="hammer-outline"></ion-icon>
      <ion-label>Skills</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
