


  <ion-grid fixed>

    <ion-row>

      <ion-col>

        <ion-grid fixed>


          <ion-row>
            <ion-col >
              <ion-list>

                <ion-header >
                  <ion-toolbar>
                    <ion-icon name="code-outline"></ion-icon>
                    <ion-title>Languages</ion-title>
                  </ion-toolbar>
                </ion-header>
                <ion-item>
                  
                  <i slot="start" class="devicon-javascript-plain colored"></i>
                  <ion-label>JavaScript</ion-label>
                </ion-item>
                <ion-item>
                  <i slot="start" class="devicon-typescript-plain colored"></i>
                  <ion-label>TypeScript</ion-label>
                </ion-item>
                <ion-item>
                  <i slot="start" class="devicon-python-plain colored"></i>

                  <ion-label>Python</ion-label>
                </ion-item>
                <ion-item>
                  <i slot="start" class="devicon-java-plain colored"></i>

                  <ion-label>Java</ion-label>
                </ion-item>
                <ion-item>
                  <i slot="start" class="devicon-c-plain colored"></i>

                  <ion-label>C</ion-label>
                </ion-item>
                <ion-item>
                  <i slot="start" class="devicon-go-plain colored"></i>

                  <ion-label>GoLang</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>


           <ion-col >
             

<ion-list>
  <ion-header>
    <ion-toolbar>
      <ion-icon name="file-tray-stacked-outline"></ion-icon>
      <ion-title>The Stack</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-header>
    <ion-card-subtitle>Back-end</ion-card-subtitle>
  </ion-card-header>

  <ion-item>
    <i slot="start" class="devicon-nodejs-plain colored"></i>

    <ion-label>NodeJS</ion-label>
  </ion-item>

  <ion-item>
    <i slot="start" class="devicon-express-original"></i>

    <ion-label>ExpressJS</ion-label>
  </ion-item>



  <ion-item>
    <i slot="start" class="devicon-django-plain colored"></i>
    <ion-label>Django</ion-label>
  </ion-item>

  <ion-card-header>
    <ion-card-subtitle>Front-end</ion-card-subtitle>
  </ion-card-header>
  <ion-item>
    <i slot="start" class="devicon-angularjs-plain colored"></i>



    <ion-label>Angular</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="logo-ionic"></ion-icon>
    <ion-label>Ionic</ion-label>
  </ion-item>


  <ion-item>
    <i slot="start" class="devicon-react-plain colored"></i>

    <ion-label>React</ion-label>
  </ion-item>


  
  <ion-item>
    
  <i slot="start" class="devicon-bootstrap-plain colored"></i>
    <ion-label>Bootstrap</ion-label>
  </ion-item>
  <ion-item>
    
  <i slot="start" class="devicon-html5-plain colored"></i>
      <ion-label>HTML</ion-label>
    </ion-item>

    <ion-item>
    
      <i slot="start" class="devicon-css3-plain colored"></i>
          <ion-label>CSS</ion-label>
        </ion-item>
    

</ion-list>


           </ion-col>


           <ion-col >

            <ion-list>
              <ion-header>
                <ion-toolbar>
                  <ion-icon name="cloud-done-outline"></ion-icon>
                  <ion-title>Tools and Tech</ion-title>
                </ion-toolbar>
              </ion-header>


              <ion-card-header>
                <ion-card-subtitle>Storage</ion-card-subtitle>
              </ion-card-header>
              <ion-item>
                <i slot="start" class="devicon-mongodb-plain colored"></i>

                <ion-label>MongoDB</ion-label>
                
              </ion-item>


              <ion-item>
                <i slot="start" class="devicon-redis-plain colored"></i>

                <ion-label>Redis</ion-label>
                
              </ion-item>

              <ion-item>
                <i slot="start" class="devicon-google-plain colored"></i>

                <ion-label>Firestore</ion-label>
              </ion-item>
              <ion-item>
                <i slot="start" class="devicon-postgresql-plain colored"></i>
                <ion-label>PostgreSQL</ion-label>
              </ion-item>             
               <ion-item>
                <i slot="start" class="devicon-mysql-plain colored"></i>

                <ion-label>SQLite3</ion-label>
              </ion-item>




              <ion-card-header>
                <ion-card-subtitle>Operating Systems</ion-card-subtitle>
              </ion-card-header>
            
              
              <ion-item>
                <i slot="start"class="devicon-ubuntu-plain colored"></i>
                <ion-label>Ubuntu</ion-label>
              </ion-item>



              <ion-item>
                <i slot="start" class="devicon-windows8-original colored"></i>
                <ion-label>Windows</ion-label>
              </ion-item>


              <ion-item>
                <i slot="start" class="devicon-apple-original"></i>
                <ion-label>MacOS</ion-label>
              </ion-item>
            </ion-list>

            



           </ion-col>


           <ion-col >
             
            <ion-list>
              <ion-header>
                <ion-toolbar>
                  <ion-icon name="hammer-outline"></ion-icon>
                  <ion-title>Deployment</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-item>
                <ion-icon slot="start" name="logo-firebase"></ion-icon>
                <ion-label>Google Firebase</ion-label>
              </ion-item>
              <ion-item>
                <i slot="start" class="devicon-heroku-plain colored"></i>

                <ion-label>Heroku</ion-label>
              </ion-item>

              <ion-item>
                <i slot="start" class="devicon-docker-plain colored"></i>

                <ion-label>Docker</ion-label>
              </ion-item>

              <ion-item>
                <i slot="start" class="devicon-github-plain"></i>

                <ion-label>GitHub</ion-label>
              </ion-item>
            </ion-list>
           </ion-col>
          </ion-row>


          <ion-item-divider>
          </ion-item-divider>




        </ion-grid>





      </ion-col>
    </ion-row>
  </ion-grid>



