<ion-grid fixed>

  <ion-row>
    <ion-col>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>July, 2020 - August, 2020</ion-card-subtitle>
          <ion-card-title>   
            <strong>
            American Express
          </strong></ion-card-title>
          <ion-card-title>
            <h6>

              Software Engineer Intern
            </h6>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>


      </ion-card>



      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>July, 2017 - August, 2018</ion-card-subtitle>

          <ion-card-title>
          <strong>
            Triveni IT
          </strong>
        </ion-card-title>
          <ion-card-title>
            <h6>
              Web Developer Intern
            </h6>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content >

          <ul>
            <li>
              <ion-label>Wrote back-end Python/Django code for various warehouse management systems.</ion-label>
            </li>

            <li>
              <ion-label>Wrote backup routines for production level PostgreSQL databases.</ion-label>
            </li>

            <li>
              <ion-label>Designed front-end components using HTML, BootStrap, and CSS.</ion-label>
            </li>
          </ul>

        </ion-card-content>


      </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>